@media (min-width: 300px) {
  .topquote {
    width: 210px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .topquote {
    width: 311px;
    margin-left: 25px;
  }
}

@media (min-width: 576px) {
  .topquote {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .topquote {
    width: 280px;
  }
}

@media (max-width: 580px) {
  .mobileprofile {
    padding-top: 20px;
  }
}

